.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rosybrown;
    width: 350px;
    height: 230px;
    border-radius: 20px;
    padding: 25px;

}
.container-contato{
    padding: 150px;
    display: flex;
    justify-content: space-between;
}
.botao{
    width: 70px;
    height: 35px;
    background-color: white;
    margin-left: 38%;
    margin-top: 7px;
}
.texto{
    text-align: center;  
    font-size: 18px;
    padding: 40px;
    width: 25%;
    color: black;
}
.contato{
    font-size: 15px;
    padding: 30px;
    text-align: center;
}