footer{
    background-color:#bc87b0;
    height: 290px;
    margin-top: 700px;
  }
.container{
    height: 50px;
    width: 100px;
    margin-top: 50px;
    margin-left: 185px;
    display: flex;
    justify-content: center;
  }
  .container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    width:25%;
  }

  .P1{
    font-size: 18px;
   
    color: whitesmoke;
  }
  .nav{
    display: flex;
    justify-content: flex-end;
    list-style: none; 
  }
  .nav li {
    width: 20%;
    margin-top: 4%;
  }
  .A{
    justify-content:center;
    margin-right:80px;
    margin-left:100px;
    margin-top: 10px;
    font-size:20px;
    text-decoration:none;
    color:#ffffff;

  }
  .B{
    color:rgb(0, 0, 0);
    margin-left:100px;
    font-size:15px;
    cursor: pointer;
  }
  .B:hover{
    color: rgb(255, 255, 255);

  }
 .lista {
  margin: 10px;
 }

  .logo2{
    width: 300px;
    margin-top: 25%;
    margin-left: 1%;
  }
  .logo{
  display: flex;
  justify-content: flex-start;
  margin-left: 13%;
  gap: 10px;
  }
 